.popup__container {
    position: fixed;
    display: flex;
    flex-direction: column;
    max-width: 510px;
    width: 100%;
    margin-top: 155px;
    z-index: 1;
}

@media screen and (max-width: 650px) {
    .popup__container {
        max-width: 282px;
        margin-top: 87px;
    }
}