.popup__button {
    max-width: 358px;
    width: 100%;
    min-height: 50px;
    background-color: black;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 2px;
    padding: 0;
    margin-top: 48px;
    font-size: 18px;
    line-height: 1.2;
    transition:  opacity 0.4s ease-in-out;
    cursor: pointer;
    align-self: center;
}

.popup__button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 650px) {
    .popup__button {
        margin-top: 41px;
        min-height: 46px;
        max-width: 238px;
        font-size: 14px;
    }
}